.text-df4710 {
  color: #df4710;
}

.hover-underline:hover {
  text-decoration: underline;
}

/* Add any additional styles you need here */
.btn-primary {
  background-color: #df4710;
  border: none;
}

.btn-primary:hover {
  background-color: #bf3e0a;
}

.btn-primary:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(223, 71, 16, 0.4);
}
